{% extends "bookly_nest/base.html" %}
{% load django_bootstrap5 %}
{% block page_header %}
    <h2>Add new book</h2>
{% endblock page_header %}
{% block content %}
    <a href="{% url "bookly_nest:genre" genre.id %}">Genre: {{ genre }}</a>
    <form {% url "bookly_nest:new_book" genre.id %} method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Add new book" %}
        {% comment %} {{ form.as_div }}
        <button type="submit">Add new book</button> {% endcomment %}
    </form>
{% endblock content %}
